name: Deploy to Firebase Hosting on merge
'on':
  push:
    branches:
      - master
jobs:
  build_and_deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install deps and generate a site
        env:
          FB_APIKEY: ${{ secrets.FB_APIKEY}}
          FB_AUTHDOMAIN: ${{ secrets.FB_AUTHDOMAIN}}
          FB_PROJECTID: ${{ secrets.FB_PROJECTID }}
          FB_STORAGEBUCKET: ${{ secrets.FB_STORAGEBUCKET }}
          FB_MESSAGINGSENDERID: ${{ secrets.FB_MESSAGINGSENDERID }}
          FB_APPID: ${{ secrets.FB_APPID }}
          FB_MEASUREMENTID: ${{ secrets.FB_MEASUREMENTID }}
        run: npm ci && npm run generate

      - name: Deploy hosting
        uses: FirebaseExtended/action-hosting-deploy@v0
        with:
          repoToken: '${{ secrets.GITHUB_TOKEN }}'
          firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_WYWIWYA }}'
          channelId: live
          projectId: wywiwya

      - name: Deploy firebase rules
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only firestore:rules
        env:
          GCP_SA_KEY: ${{ secrets.FIREBASE_SERVICE_ACCOUNT_WYWIWYA }}
